<div class="product-card">
    <button class="product-card__wishlist-btn">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.785 9.0986C25.4386 8.29655 24.9392 7.56975 24.3146 6.95886C23.6896 6.34616 22.9526 5.85925 22.1439 5.52462C21.3052 5.17624 20.4057 4.99793 19.4976 5.00002C18.2236 5.00002 16.9806 5.34889 15.9004 6.00787C15.6419 6.1655 15.3964 6.33865 15.1639 6.5273C14.9313 6.33865 14.6858 6.1655 14.4274 6.00787C13.3471 5.34889 12.1041 5.00002 10.8301 5.00002C9.91271 5.00002 9.02374 5.17575 8.18386 5.52462C7.37242 5.86057 6.64108 6.34382 6.01311 6.95886C5.38772 7.56906 4.88814 8.29604 4.54269 9.0986C4.18348 9.93331 4 10.8197 4 11.7319C4 12.5925 4.17573 13.4892 4.5246 14.4014C4.81662 15.1638 5.23526 15.9546 5.7702 16.7531C6.61782 18.0168 7.78331 19.3347 9.23048 20.6708C11.6286 22.8855 14.0035 24.4153 14.1043 24.4773L14.7168 24.8701C14.9881 25.0433 15.337 25.0433 15.6083 24.8701L16.2208 24.4773C16.3216 24.4127 18.6939 22.8855 21.0947 20.6708C22.5418 19.3347 23.7073 18.0168 24.5549 16.7531C25.0899 15.9546 25.5111 15.1638 25.8005 14.4014C26.1494 13.4892 26.3251 12.5925 26.3251 11.7319C26.3277 10.8197 26.1442 9.93331 25.785 9.0986ZM15.1639 22.826C15.1639 22.826 5.96401 16.9314 5.96401 11.7319C5.96401 9.0986 8.14252 6.96403 10.8301 6.96403C12.7192 6.96403 14.3576 8.0184 15.1639 9.55859C15.9701 8.0184 17.6085 6.96403 19.4976 6.96403C22.1852 6.96403 24.3637 9.0986 24.3637 11.7319C24.3637 16.9314 15.1639 22.826 15.1639 22.826Z"
                  fill="#C8C8C8" stroke="#C8C8C8" stroke-width="0.5"/>
        </svg>
    </button>
    <a href="{{ product.url }}" class="product-card__url">
        {% if product.featured_image != blank %}
            <div class="product-card__inner">
                <div class="card__badge {{ settings.badge_position }}">
                    {%- if product.available == false -%}
                        <span id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
                {{- 'products.product.sold_out' | t -}}
              </span>
                    {%- elsif product.compare_at_price > product.price and product.available -%}
                        <span id="NoMediaStandardBadge-{{ section_id }}-{{ product.id }}"
                              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                {{- 'products.product.on_sale' | t -}}</span>
                    {%- endif -%}
                </div>
                <div class="product-card__image image-wrapper">
                    {{ product.featured_image | image_url: width: 610 | image_tag: widths: '165, 200, 235, 250', alt: section.settings.image.alt, loading: 'lazy' }}
                </div>
                <h4 class="product-card__title">{{ product.title }}</h4>
            </div>
        {% else %}
            <div class="product-card__inner">
                <div class="product-card__image image-wrapper placeholder">
                    {{ 'image' | placeholder_svg_tag }}
                </div>
                <h4 class="product-card__title">{{ product.title }}</h4>
            </div>
        {% endif %}
        {%- render 'price', product: product %}
    </a>
</div>