<div class="product-card">
    <div class="product-card__wishlist-btn">
        {% comment %}<span class="smartwishlist" data-product="{{ card_product.id }}" data-variant="{{ card_product.selected_or_first_available_variant.id }}"></span>{% endcomment %}
    </div>
    <a href="{{ product.url }}" class="product-card__url">
        {% if product.featured_image != blank %}
            <div class="product-card__inner">
                <div class="card__badge {{ settings.badge_position }}">
                    {%- if product.available == false -%}
                        <span id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
                {{- 'products.product.sold_out' | t -}}
              </span>
                    {%- elsif product.compare_at_price > product.price and product.available -%}
                        <span id="NoMediaStandardBadge-{{ section_id }}-{{ product.id }}"
                              class="badge__sales badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                {{- 'products.product.on_sale' | t -}}</span>
                    {%- endif -%}
                </div>
                <div class="product-card__image image-wrapper">
                    {{ product.featured_image | image_url: width: 610 | image_tag: widths: '610', alt: product.title, loading: 'lazy' }}
                </div>
                <h4 class="product-card__title">{{ product.title }}</h4>
            </div>
        {% else %}
            <div class="product-card__inner">
                <div class="product-card__image image-wrapper placeholder">
                    {{ 'image' | placeholder_svg_tag }}
                </div>
                <h4 class="product-card__title">{{ product.title }}</h4>
            </div>
        {% endif %}
        {%- render 'price', product: product %}
    </a>
</div>