<a href="{{ article.url }}" class="article-card-kampanjat" id="article--{{ article.id }}">
    <div class="article-card__image-wrapper image-wrapper">
        {% if article.image != blank%}
            {{ article.image | image_url: width: 610 | image_tag: widths: '375, 480, 550, 610, 720, 930, 1100', alt: article.image.alt, loading: 'lazy' }}
        {% else %}
            {{ 'image' | placeholder_svg_tag }}
        {% endif %}
    </div>
    <div class="article-card-kampanjat__content article-card__content">
        <h4 class="article-card-kampanjat__title">{{ article.title | escape | truncatewords: 9 }}</h4>
        <p class="article-card__date">{{ article.published_at | date: '%B %d, %Y'  }}</p>
        <p class="article-card__text">{{ article.excerpt_or_content | strip | strip_html | truncatewords: 10, '...' }}</p>
        <button class="article-card-kampanjat__button article-card__button primary-btn">{{ settings.article_btn_text }}</button>
    </div>
</a>