{% assign is_in_stock = true %}

{% unless variant.available %}
    {% assign is_in_stock = false %}
{% endunless %}

<div class="buy-too-card">
    <div class="buy-too-card__image image-wrapper">
        {{
            variant.featured_image
            | image_url: width: 1100
            | image_tag: loading: 'lazy', widths: '550, 720, 990, 1100'
        }}
    </div>
    <div class="buy-too-card__content">
        <h4 class="buy-too-card__title">{{ variant.product.title }}</h4>
        <p class="buy-too-card__price">{{ variant.price | money }}</p>
        <p class="buy-too-card__available buy-too-card__available--{{ is_in_stock }}">
            <span class="buy-too-card__available--in-stock">{{ section.settings.in_stock_text }}</span>
            <span class="buy-too-card__available--out-stock">{{ section.settings.out_stock_text }}</span>
        </p>
        <button onclick='addToCart(this)' class="buy-too-card__button primary-btn {% unless variant.available and variant.inventory_management %}out-of-stock{% endunless %}"
                data-variant-id="{{ variant.id }}"
        >
            <span class="main-text">
                {{ section.settings.btn_text }}
            </span>
            <span class="spinner">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg>
            </span>
            <span class="out-of-stock-text">
                {{ section.settings.btn_out_stock_text }}
            </span>
        </button>
    </div>
</div>