<div class="custom-icon-text">
{% if block.settings.icon_1 != blank or block.settings.heading_1 != blank %}
  <div class="custom-icon-text__item">
    {{ block.settings.icon_1 }}
    {% if block.settings.heading_1 %}
      <p class="custom-icon-text__text">{{ block.settings.heading_1 }}</p>
    {% endif %}
  </div>
{% endif %}
{% if block.settings.icon_2 != blank or block.settings.heading_2 != blank %}
  <div class="custom-icon-text__item">
    {{ block.settings.icon_2 }}
    {% if block.settings.heading_2 %}
      <p class="custom-icon-text__text">{{ block.settings.heading_2 }}</p>
    {% endif %}
  </div>
{% endif %}
{% if block.settings.icon_3 != blank or block.settings.heading_3 != blank %}
  <div class="custom-icon-text__item">
    {{ block.settings.icon_3 }}
    {% if block.settings.heading_3 %}
      <p class="custom-icon-text__text">{{ block.settings.heading_3 }}</p>
    {% endif %}
  </div>
{% endif %}
</div>