{% assign selectedProduct = product.selected_or_first_available_variant %}
{% assign omnibusprice = selectedProduct.metafields.omnibus.price %}
{% assign omnibusdate = selectedProduct.metafields.omnibus.date %}
{% assign label = block.settings.text %}
{% assign start = block.settings.text_start %}
{% assign date_format = '%B %d, %Y' %}

{% assign showClass = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
    {% assign showClass = true %}
{% endif %}

<div class="lowest-price__wrapper {% if showClass %}lowest-price__wrapper--show{% endif %}">
    <div id="sniffie-omnibus-price">
        {% if omnibusprice %}
            {% if product.compare_at_price > product.price %}
                <span class="lowest-price__text">{{ label }}</span>
                <span class="lowest-price__price">
                    {{ omnibusprice | metafield_tag }}
                </span>
                {% comment %}{% if omnibusdate != null %}
                    {% assign date = omnibusdate | date: '%s' %}
                    {% assign seconds = 2592000 %}
                    <span class="lowest-price__text">{{ start }}</span>
                    <span class="lowest-price__price">{{ omnibusdate | date: date_format}} - {{ date | plus: seconds | date: date_format }}</span>
                {% endif %}{% endcomment %}
            {% endif %}
        {% endif %}
    </div>
</div>