{{ 'about-breadcrumbs.css' | asset_url | stylesheet_tag }}

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}

    <nav class="breadcrumbs {{ template }}" role="navigation" aria-label="breadcrumbs">
        <div class="page-width">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="{{ routes.root_url }}" class="breadcrumbs__link">Home</a>
                </li>
                {%- case t -%}

                    {%- when 'page' -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                        </li>

                    {%- when 'product' -%}
                        {%- if collection.url -%}
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                            </li>
                        {%- endif -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                        </li>

                    {%- when 'collection' and collection.handle -%}
                        {%- if current_tags -%}
                            <li class="breadcrumbs__item">
                                {{ collection.title | link_to: collection.url }}
                            </li>
                            <li class="breadcrumbs__item">
                                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                                <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
                            </li>
                        {%- else -%}
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                            </li>
                        {%- endif -%}
                    {%- when 'blog' -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                        </li>
                    {%- when 'article' -%}
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                        </li>
                {%- endcase -%}
            </ul>
        </div>
    </nav>
{% endunless %}

<script>
    const breadcrumbsContainer = document.querySelector('.breadcrumbs');
    const breadcrumbsList = document.querySelector('.breadcrumbs__list');

    function checkBreadcrumbsOverflow() {
        if (breadcrumbsList.offsetWidth < breadcrumbsList.scrollWidth) {
            breadcrumbsContainer.classList.add('breadcrumbs--overflow');
        } else {
            breadcrumbsContainer.classList.remove('breadcrumbs--overflow');
        }
    }

    window.addEventListener('resize', checkBreadcrumbsOverflow);
    document.addEventListener('DOMContentLoaded', checkBreadcrumbsOverflow);
</script>

{% schema %}
{
  "name": "Breadcrumbs",
  "presets": [
    {
      "name": "Breadcrumbs"
    }
  ]
}
{% endschema %}
