<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'custom-header.css' | asset_url | stylesheet_tag }}
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
  {{ 'custom-cart-drawer.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: {{ settings.logo_width }}px;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
  .scrolled-past-header .header__heading-logo {
    width: 75%;
  }

  {%- endif -%}

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
{% comment %} <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script> {% endcomment %}
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
          fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close" fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round"
          transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round"
          transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
          fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}" {% else %}div{% endif %}
        class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header custom-header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset"
                   aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                    <span class="menu-drawer__close-navigation">
                      {% render 'icon-close' %}
                    </span>
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary
                                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                            </summary>
                            <div id="link-{{ link.handle | escape }}"
                                 class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                 tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list"
                                    tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}"
                                           class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details
                                                id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary
                                                  class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}"
                                               class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset"
                                                    aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu"
                                                role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}"
                                                     class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}"
                             class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                       class="menu-drawer__account-link">
                      {% render 'icon-account' %}
                    </a>
                  {%- endif -%}
                  <a href="/a/wishlist" class="menu-drawer__wishlist action-area__link wishlist__header">
                    {% render 'icon-wishlist' %}
                    <span class="wishlist__content"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
          {%- else -%}
          <search-form class="search-modal__form">
            {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search"
                  class="search search-modal__form">
              <div class="field">
                <input class="search__input"
                       id="Search-In-Modal-1"
                       type="search"
                       name="q"
                       value="{{ search.terms | escape }}"
                       placeholder="Hae..."
                        {% comment %}placeholder="{{ 'general.search.search' | t }}"{% endcomment %}
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results"
                          aria-controls="predictive-search-results"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                >
                <input type="hidden" name="options[prefix]" value="last">
                {% comment %} <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button> {% endcomment %}
                <button class="search__button field__button"
                        aria-label="{{ 'general.search.search' | t }}">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.6658 15.3437L13.5001 12.1873C14.5215 10.8861 15.0757 9.27926 15.0736 7.62507C15.0736 6.15188 14.6368 4.71177 13.8183 3.48686C12.9999 2.26194 11.8366 1.30724 10.4755 0.743476C9.11446 0.17971 7.6168 0.0322038 6.17192 0.319609C4.72704 0.607014 3.39983 1.31642 2.35812 2.35812C1.31642 3.39983 0.607014 4.72704 0.319609 6.17192C0.0322038 7.6168 0.17971 9.11446 0.743476 10.4755C1.30724 11.8366 2.26194 12.9999 3.48686 13.8183C4.71177 14.6368 6.15188 15.0736 7.62507 15.0736C9.27926 15.0757 10.8861 14.5215 12.1873 13.5001L15.3437 16.6658C15.4302 16.753 15.5332 16.8223 15.6466 16.8696C15.7601 16.9169 15.8818 16.9412 16.0047 16.9412C16.1276 16.9412 16.2493 16.9169 16.3628 16.8696C16.4762 16.8223 16.5792 16.753 16.6658 16.6658C16.753 16.5792 16.8223 16.4762 16.8696 16.3628C16.9169 16.2493 16.9412 16.1276 16.9412 16.0047C16.9412 15.8818 16.9169 15.7601 16.8696 15.6466C16.8223 15.5332 16.753 15.4302 16.6658 15.3437ZM2.03863 7.62507C2.03863 6.52017 2.36627 5.44009 2.98012 4.52141C3.59396 3.60273 4.46644 2.8867 5.48723 2.46387C6.50802 2.04105 7.63126 1.93042 8.71492 2.14597C9.79859 2.36153 10.794 2.89358 11.5753 3.67486C12.3565 4.45614 12.8886 5.45154 13.1042 6.53521C13.3197 7.61887 13.2091 8.74212 12.7863 9.7629C12.3634 10.7837 11.6474 11.6562 10.7287 12.27C9.81004 12.8839 8.72996 13.2115 7.62507 13.2115C6.14345 13.2115 4.72252 12.6229 3.67486 11.5753C2.6272 10.5276 2.03863 9.10668 2.03863 7.62507Z"
                          fill="#373737"/>
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1"
                     data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66"
                         xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33"
                              r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status"
                      aria-hidden="true"></span>
              {%- endif -%}
            </form>
            {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- else -%}
        </search-form>
        {%- endif -%}
      </details-modal>
    {%- endif -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {{ settings.logo | image_url: width: 500 | image_tag:
          class: 'header__heading-logo motion-reduce',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          height: logo_height,
          width: settings.logo_width,
          alt: logo_alt
          }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="open-on-hover">
                      <summary
                              class=" header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}"
                          class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup"
                          role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}"
                                 class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary
                                        class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}"
                                    class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}"
                                         class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}"
                     class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="open-on-hover mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}"
                           class="mega-menu__content gradient motion-reduce global-settings-popup"
                           tabindex="-1">
                        <div class="mega-menu__content-sumbmenu">
                          <a href="{{ link.url }}"
                             class="mega-menu__content-title">{{ link.title }}</a>
                          <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                              role="list">
                            {%- for childlink in link.links -%}
                              <li>
                                <a href="{{ childlink.url }}"
                                   class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                                {%- if childlink.links != blank -%}
                                  <ul class="list-unstyled" role="list">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}"
                                           class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        {% assign formatedLinkTitle = link.title | strip | downcase %}
                        {% for block in section.blocks %}
                          {% assign formatedBlockTitle = block.settings.link_title | strip | downcase %}
                          {% if formatedLinkTitle == formatedBlockTitle %}
                            <a href="{{ block.settings.url }}"
                               class="mega-menu__content-slot">
                              <div class="content-slot__image image-wrapper">
                                <img src="{{ block.settings.image | img_url: 'master' }}"
                                     alt="{{ block.settings.image.alt }}">
                              </div>
                              <h5 class="content-slot__title">{{ block.settings.title }}</h5>
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}"
                     class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {{ settings.logo | image_url: width: 500 | image_tag:
          class: 'header__heading-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          height: logo_height,
          width: settings.logo_width,
          alt: logo_alt
          }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      <a href="#locator" class="header__icon header__icon--locator link focus-inset">
        {% render 'icon-locator' %}
      </a>

      <a href="/a/wishlist" id="smartwishlist_desktop_link" class="header__icon header__icon--wishlist link focus-inset action-area__link wishlist__header">
        {% render 'icon-wishlist' %}
        <span class="wishlist__content"></span>
      </a>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
           class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset"
         id="cart-icon-bubble">
        <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"
             class="icon icon-cart">
          <path d="M2.47124 11.3C2.52152 10.6735 2.80593 10.0889 3.26783 9.66271C3.72973 9.23648 4.33523 8.99987 4.96374 9H20.0362C20.6647 8.99987 21.2702 9.23648 21.7321 9.66271C22.194 10.0889 22.4785 10.6735 22.5287 11.3L23.5325 23.8C23.5601 24.144 23.5162 24.49 23.4035 24.8162C23.2909 25.1424 23.1119 25.4417 22.8779 25.6953C22.6438 25.9489 22.3599 26.1514 22.0438 26.2899C21.7277 26.4283 21.3863 26.4999 21.0412 26.5H3.95874C3.61364 26.4999 3.2723 26.4283 2.95621 26.2899C2.64012 26.1514 2.35612 25.9489 2.12211 25.6953C1.88809 25.4417 1.70911 25.1424 1.59645 24.8162C1.48379 24.49 1.43988 24.144 1.46749 23.8L2.47124 11.3V11.3Z"
                stroke="#373737" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.5 12.75V6.5C17.5 5.17392 16.9732 3.90215 16.0355 2.96447C15.0979 2.02678 13.8261 1.5 12.5 1.5C11.1739 1.5 9.90215 2.02678 8.96447 2.96447C8.02678 3.90215 7.5 5.17392 7.5 6.5V12.75"
                stroke="#373737" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">({{ cart.item_count }})</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
  </{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

  {%- if settings.cart_type == "notification" -%}
    {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}

  <script>
    let hoverOpen = document.querySelectorAll('.open-on-hover');

    hoverOpen.forEach((hover, index) => {
      hover.addEventListener('mouseover', () => {
        hover.setAttribute('open', 'true');
        // hover.firstChild('[aria-expanded=true]');
      });

      hover.addEventListener('mouseout', () => {
        hover.removeAttribute('open');
        // hover.childNodes[0]('[aria-expanded=false]');
      });
    })
  </script>

  {% javascript %}
  class StickyHeader extends HTMLElement {
  constructor() {
  super();
  }

  connectedCallback() {
  this.header = document.querySelector('.section-header');
  this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' ||
  this.getAttribute('data-sticky-type') === 'reduce-logo-size';
  this.headerBounds = {};

  this.setHeaderHeight();

  window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

  if (this.headerIsAlwaysSticky) {
  this.header.classList.add('shopify-section-header-sticky');
  };

  this.currentScrollTop = 0;
  this.preventReveal = false;
  this.predictiveSearch = this.querySelector('predictive-search');

  this.onScrollHandler = this.onScroll.bind(this);
  this.hideHeaderOnScrollUp = () => this.preventReveal = true;

  this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
  window.addEventListener('scroll', this.onScrollHandler, false);

  this.createObserver();
  }

  setHeaderHeight() {
  document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
  }

  disconnectedCallback() {
  this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
  window.removeEventListener('scroll', this.onScrollHandler);
  }

  createObserver() {
  let observer = new IntersectionObserver((entries, observer) => {
  this.headerBounds = entries[0].intersectionRect;
  observer.disconnect();
  });

  observer.observe(this.header);
  }

  onScroll() {
  const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

  if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

  if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
  this.header.classList.add('scrolled-past-header');
  if (this.preventHide) return;
  requestAnimationFrame(this.hide.bind(this));
  } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
  this.header.classList.add('scrolled-past-header');
  if (!this.preventReveal) {
  requestAnimationFrame(this.reveal.bind(this));
  } else {
  window.clearTimeout(this.isScrolling);

  this.isScrolling = setTimeout(() => {
  this.preventReveal = false;
  }, 66);

  requestAnimationFrame(this.hide.bind(this));
  }
  } else if (scrollTop <= this.headerBounds.top) {
  this.header.classList.remove('scrolled-past-header');
  requestAnimationFrame(this.reset.bind(this));
  }

  this.currentScrollTop = scrollTop;
  }

  hide() {
  if (this.headerIsAlwaysSticky) return;
  this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
  this.closeMenuDisclosure();
  this.closeSearchModal();
  }

  reveal() {
  if (this.headerIsAlwaysSticky) return;
  this.header.classList.add('shopify-section-header-sticky', 'animate');
  this.header.classList.remove('shopify-section-header-hidden');
  }

  reset() {
  if (this.headerIsAlwaysSticky) return;
  this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
  }

  closeMenuDisclosure() {
  this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
  this.disclosures.forEach(disclosure => disclosure.close());
  }

  closeSearchModal() {
  this.searchModal = this.searchModal || this.header.querySelector('details-modal');

  }
  }

  customElements.define('sticky-header', StickyHeader);
  {% endjavascript %}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }}
      {{ settings.social_facebook_link | json }}
      {{ settings.social_pinterest_link | json }}
      {{ settings.social_instagram_link | json }}
      {{ settings.social_tiktok_link | json }}
      {{ settings.social_tumblr_link | json }}
      {{ settings.social_snapchat_link | json }}
      {{ settings.social_youtube_link | json }}
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }


    </script>

  {%- if request.page_type == 'index' -%}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }


        </script>
  {%- endif -%}

  {% schema %}
  {
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
  {
  "type": "select",
  "id": "color_scheme",
  "options": [
  {
  "value": "accent-1",
  "label": "t:sections.all.colors.accent_1.label"
  },
  {
  "value": "accent-2",
  "label": "t:sections.all.colors.accent_2.label"
  },
  {
  "value": "background-1",
  "label": "t:sections.all.colors.background_1.label"
  },
  {
  "value": "background-2",
  "label": "t:sections.all.colors.background_2.label"
  },
  {
  "value": "inverse",
  "label": "t:sections.all.colors.inverse.label"
  }
  ],
  "default": "background-1",
  "label": "t:sections.all.colors.label"
  },
  {
  "type": "header",
  "content": "t:sections.header.settings.logo_header.content"
  },
  {
  "type": "paragraph",
  "content": "t:sections.header.settings.logo_help.content"
  },
  {
  "type": "select",
  "id": "logo_position",
  "options": [
  {
  "value": "top-left",
  "label": "t:sections.header.settings.logo_position.options__2.label"
  },
  {
  "value": "top-center",
  "label": "t:sections.header.settings.logo_position.options__3.label"
  },
  {
  "value": "middle-left",
  "label": "t:sections.header.settings.logo_position.options__1.label"
  },
  {
  "value": "middle-center",
  "label": "t:sections.header.settings.logo_position.options__4.label"
  }
  ],
  "default": "middle-left",
  "label": "t:sections.header.settings.logo_position.label"
  },
  {
  "type": "link_list",
  "id": "menu",
  "default": "main-menu",
  "label": "t:sections.header.settings.menu.label"
  },
  {
  "type": "select",
  "id": "menu_type_desktop",
  "options": [
  {
  "value": "dropdown",
  "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
  },
  {
  "value": "mega",
  "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
  }
  ],
  "default": "dropdown",
  "label": "t:sections.header.settings.menu_type_desktop.label",
  "info": "t:sections.header.settings.menu_type_desktop.info"
  },
  {
  "type": "select",
  "id": "sticky_header_type",
  "options": [
  {
  "value": "none",
  "label": "t:sections.header.settings.sticky_header_type.options__1.label"
  },
  {
  "value": "on-scroll-up",
  "label": "t:sections.header.settings.sticky_header_type.options__2.label"
  },
  {
  "value": "always",
  "label": "t:sections.header.settings.sticky_header_type.options__3.label"
  },
  {
  "value": "reduce-logo-size",
  "label": "t:sections.header.settings.sticky_header_type.options__4.label"
  }
  ],
  "default": "on-scroll-up",
  "label": "t:sections.header.settings.sticky_header_type.label"
  },
  {
  "type": "checkbox",
  "id": "show_line_separator",
  "default": true,
  "label": "t:sections.header.settings.show_line_separator.label"
  },
  {
  "type": "header",
  "content": "t:sections.header.settings.mobile_layout.content"
  },
  {
  "type": "select",
  "id": "mobile_logo_position",
  "options": [
  {
  "value": "center",
  "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
  },
  {
  "value": "left",
  "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
  }
  ],
  "default": "center",
  "label": "t:sections.header.settings.mobile_logo_position.label"
  },
  {
  "type": "header",
  "content": "t:sections.all.spacing"
  },
  {
  "type": "range",
  "id": "margin_bottom",
  "min": 0,
  "max": 100,
  "step": 4,
  "unit": "px",
  "label": "t:sections.header.settings.margin_bottom.label",
  "default": 0
  },
  {
  "type": "header",
  "content": "t:sections.all.padding.section_padding_heading"
  },
  {
  "type": "range",
  "id": "padding_top",
  "min": 0,
  "max": 36,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_top",
  "default": 20
  },
  {
  "type": "range",
  "id": "padding_bottom",
  "min": 0,
  "max": 36,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_bottom",
  "default": 20
  }
  ],
  "blocks": [
  {
  "type": "slot",
  "name": "Mega menu slot",
  "settings": [
  {
  "type": "text",
  "id": "link_title",
  "label": "Link title",
  "default": "Tuotteet kotiin",
  "info": "Use this field for bind mega menu slot with parent link"
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image"
  },
  {
  "type": "text",
  "id": "title",
  "label": "Title",
  "default": "Title"
  },
  {
  "type": "url",
  "id": "url",
  "label": "Url"
  }
  ]
  }
  ]
  }
{% endschema %}