{{ 'product-highlights.css' | asset_url | stylesheet_tag }}

{% style %}
    .product-highlights.product-highlights--{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.8 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.8 | round: 0 }}px;
    }

    @media only screen and (min-width: 769px) {
    .product-highlights.product-highlights--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{% endstyle %}

{% assign optionP = false %}
{% if product.options_with_values != blank %}
    {% assign optionP = true %}
{% endif %}

{% assign namesForColorSwotcher = settings.colors_swatcher_title | escape | strip | downcase %}
{% assign widhtP = product.metafields.custom.product_width %}
{% assign heightP = product.metafields.custom.product_height %}
{% assign depthP = product.metafields.custom.product_depth %}
{% assign weightP = product.metafields.custom.weight %}


<div class="product-highlights page-width product-highlights--{{ section.id }}">
    <div class="product-highlights__tabs">
        <div class="product-highlights__tab active">
            <h5 class="product-highlights__tab-label">
                {{ section.settings.text_kuvas }}
                <span class="product-highlights__tab-label--icon"></span>
            </h5>
            <div class="product-highlights__tab-content">{{ product.description }}</div>
        </div>
        {% if weightP != blank or heightP != blank or depthP != blank or widhtP != blank or optionP %}
            <div class="product-highlights__tab">
                <h5 class="product-highlights__tab-label">
                    {{ section.settings.text_lisatiedot }}
                    <span class="product-highlights__tab-label--icon"></span>
                </h5>
                {% if weightP != blank %}
                    <div class="product-highlights__tab-content product-highlights__inner">
                        <div class="product-highlight__inner">
                            <div class="product-highlight__title">{{ section.settings.text_paino }}</div>
                            <div class="product-highlight__info">{{ weightP }} kg
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if heightP != blank or depthP != blank or widhtP != blank %}
                    <div class="product-highlights__tab-content product-highlights__inner">
                        <div class="product-highlight__inner">
                            <div class="product-highlight__title">{{ section.settings.text_mitat }}</div>
                            <div class="product-highlight__info">
                                {% if heightP != blank %}{{ heightP }}{% endif %}
                                {% if depthP != blank %}{{ depthP | prepend: "x " }}{% endif %}
                                {% if widhtP != blank %}{{ widhtP | prepend: "x " }}{% endif %}
                                cm
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if optionP %}
                    <div class="product-highlights__tab-content product-highlights__inner">
                        {%- for option in product.options_with_values -%}
                            <div class="product-highlight__inner">
                                <div class="product-highlight__title">{{ option.name }}</div>
                                <div class="product-highlight__info">{%- for value in option.values -%}
                                        {{ value }}{% unless forloop.last %},{% endunless %}
                                    {%- endfor -%}
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if product.metafields.custom.file_pdf != blank %}
            <div class="product-highlights__tab">
                <h5 class="product-highlights__tab-label">
                    {{ section.settings.text_ladattavat }}
                    <span class="product-highlights__tab-label--icon"></span>
                </h5>
                <div class="product-highlights__tab-content">
                    {% assign file = product.metafields.custom.file_pdf.value %}
                    {% assign file_url = file.url %}
                    {% assign file_name_with_shopify_extension = file_url | split: '/' | last %}
                    {% assign file_name = file_name_with_shopify_extension | split: '?' | first %}
                    <span class="product__instruction-title">{{ file_name | replace: ".pdf", "" | replace: "_", " " }}</span>
                    <a href="{{ file.url }}" class="product__instruction"
                       target="_blank">{{ section.settings.text_btn_download }}</a>
                </div>
            </div>
        {% endif %}

        {% for block in section.blocks %}
            {% comment %}{% if forloop.index == 1 %}active{% endif %}{% endcomment %}
            {% if block.settings.content %}
                <div class="product-highlights__tab">
                    <h5 class="product-highlights__tab-label">
                        {{ block.settings.label }}
                        <span class="product-highlights__tab-label--icon"></span>
                    </h5>
                    <div class="product-highlights__tab-content">{{ block.settings.content }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="product-highlights__main">
        {% if product.metafields.custom.product_video_embed != blank %}
            <div class="product-highlights__main-image desktop__video">
                {{ product.metafields.custom.product_video_embed }}
            </div>
            {% if section.settings.main_text != blank %}
                <div class="product-highlights__main-text">
                    {{ section.settings.main_text }}
                </div>
            {% endif %}
        {% endif %}
        {% if product.metafields.custom.product_video_embed_mobile != blank %}
            <div class="product-highlights__main-image mobile__video">
                {{ product.metafields.custom.product_video_embed_mobile }}
            </div>
            {% if section.settings.main_text != blank %}
                <div class="product-highlights__main-text">
                    {{ section.settings.main_text }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<script>
    const accordion = document.querySelector('.product-highlights--{{ section.id }} .product-highlights__tabs')
    const arrayTabs = accordion.querySelectorAll('.product-highlights__tab');
    arrayTabs.forEach((tab) => {
        const title = tab.querySelector('.product-highlights__tab-label');
        const content = tab.querySelector('.product-highlights__tab-content');

        title.addEventListener('click', () => {
            // перевіряємо, чи активний елемент
            const isActive = tab.classList.contains("active");

            // закриваємо всі відкриті елементи
            arrayTabs.forEach(tab => {
                tab.classList.remove("active");
            });

            // відкриваємо клікнутий елемент, якщо він не активний
            if (!isActive) {
                tab.classList.add("active");
            }
        });
    })
</script>


{% schema %}
{
  "name": {
    "en": "Product Highlights"
  },
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Free spave above",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Free spave below",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "main_text",
      "label": "Main text",
      "default": "<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>"
    },
    {
      "type": "text",
      "id": "text_kuvas",
      "label": "Kuvas",
      "default": "Kuvas"
    },
    {
      "type": "text",
      "id": "text_lisatiedot",
      "label": "Lisätiedot",
      "default": "Lisätiedot"
    },
    {
      "type": "text",
      "id": "text_mitat",
      "label": "PAKKAUKSEN MITAT",
      "default": "PAKKAUKSEN MITAT"
    },
    {
      "type": "text",
      "id": "text_paino",
      "label": "PAKKAUKSEN PAINO",
      "default": "PAKKAUKSEN PAINO"
    },
    {
      "type": "text",
      "id": "text_ladattavat",
      "label": " Ladattavat tiedostot",
      "default": " Ladattavat tiedostot"
    },
    {
      "type": "text",
      "id": "text_btn_download",
      "label": "Button download",
      "default": "See more"
    }
  ],
  "blocks": [
    {
      "type": "highlight",
      "name": "Product highlight",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Tuotteen ominaisuudet"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eaque, qui natus ipsam fugit, sed vitae voluptate reiciendis quia officiis odio repellat magni repellendus, ratione asperiores laudantium doloribus ipsum distinctio?</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Highlights"
    }
  ]
}
{% endschema %}